
<div *ngIf="balanceSheet">
    <h2><span jhiTranslate="ledgerApp.balanceSheet.detail.title">Balance Sheet</span> {{balanceSheet.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ledgerApp.balanceSheet.description">Description</span></dt>
        <dd>
            <span>{{balanceSheet.description}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.balanceDate">Balance Date</span></dt>
        <dd>
            <span>{{balanceSheet.balanceDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.amount">Amount</span></dt>
        <dd>
            <span>{{balanceSheet.amount}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.deltaAmountDebit">Delta Amount Debit</span></dt>
        <dd>
            <span>{{balanceSheet.deltaAmountDebit}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.deltaAmountCredit">Delta Amount Credit</span></dt>
        <dd>
            <span>{{balanceSheet.deltaAmountCredit}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.currencyIso">Currency Iso</span></dt>
        <dd>
            <span>{{balanceSheet.currencyIso}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.amountCurrency">Amount Currency</span></dt>
        <dd>
            <span>{{balanceSheet.amountCurrency}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.deltaAmountDebitCurrency">Delta Amount Debit Currency</span></dt>
        <dd>
            <span>{{balanceSheet.deltaAmountDebitCurrency}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.deltaAmountCreditCurrency">Delta Amount Credit Currency</span></dt>
        <dd>
            <span>{{balanceSheet.deltaAmountCreditCurrency}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.isFinal">Is Final</span></dt>
        <dd>
            <span>{{balanceSheet.isFinal}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.legalEntityId">Legal Entity Id</span></dt>
        <dd>
            <span>{{balanceSheet.legalEntityId}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.chartOfAccounts">Chart Of Accounts</span></dt>
        <dd>
            <div *ngIf="balanceSheet.chartOfAccountsId">
                <a [routerLink]="['/chart-of-accounts', balanceSheet.chartOfAccountsId]">{{balanceSheet.chartOfAccountsId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.account">Account</span></dt>
        <dd>
            <div *ngIf="balanceSheet.accountId">
                <a [routerLink]="['/ledger-account', balanceSheet.accountId]">{{balanceSheet.accountId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'balance-sheet/'+ balanceSheet.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
