
<div *ngIf="balanceSheet">
    <h2><span jhiTranslate="ledgerApp.balanceSheet.detail.title">Balance Sheet</span> {{balanceSheet.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ledgerApp.balanceSheet.description">Description</span></dt>
        <dd>
            <span>{{balanceSheet.description}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.key">Key</span></dt>
        <dd>
            <span>{{balanceSheet.key}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.balanceDate">Balance Date</span></dt>
        <dd>
            <span>{{balanceSheet.balanceDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.balanceDateType">Balance Date Type</span></dt>
        <dd>
            <span jhiTranslate="{{'ledgerApp.BalanceDateType.' + balanceSheet.balanceDateType}}">{{balanceSheet.balanceDateType}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.globalSequenceNumber">Global Sequence Number</span></dt>
        <dd>
            <span>{{balanceSheet.globalSequenceNumber}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.legalEntityId">Legal Entity Id</span></dt>
        <dd>
            <span>{{balanceSheet.legalEntityId}}</span>
        </dd>
        <dt><span jhiTranslate="ledgerApp.balanceSheet.chartOfAccounts">Chart Of Accounts</span></dt>
        <dd>
            <div *ngIf="balanceSheet.chartOfAccountsId">
                <a [routerLink]="['/chart-of-accounts', balanceSheet.chartOfAccountsId]">{{balanceSheet.chartOfAccountsId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'balance-sheet/'+ balanceSheet.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
