<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBalanceSheetLabel" jhiTranslate="ledgerApp.balanceSheet.home.createOrEditLabel">Create or edit a Balance Sheet</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!balanceSheet.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="balanceSheet.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ledgerApp.balanceSheet.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="balanceSheet.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ledgerApp.balanceSheet.key" for="field_key">Key</label>
            <input type="text" class="form-control" name="key" id="field_key"
                [(ngModel)]="balanceSheet.key" required maxlength="60"/>
            <div [hidden]="!(editForm.controls.key?.dirty && editForm.controls.key?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.key?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.key?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 60 }">
                   This field cannot be longer than 60 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ledgerApp.balanceSheet.balanceDate" for="field_balanceDate">Balance Date</label>
            <div class="input-group">
                <input id="field_balanceDate" type="text" class="form-control" name="balanceDate" ngbDatepicker  #balanceDateDp="ngbDatepicker" [(ngModel)]="balanceSheet.balanceDate"
                required/>
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="balanceDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.balanceDate?.dirty && editForm.controls.balanceDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.balanceDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ledgerApp.balanceSheet.balanceDateType" for="field_balanceDateType">Balance Date Type</label>
            <select class="form-control" name="balanceDateType" [(ngModel)]="balanceSheet.balanceDateType" id="field_balanceDateType"  required>
                <option value="DONE">{{'ledgerApp.BalanceDateType.DONE' | translate}}</option>
                <option value="BOOK">{{'ledgerApp.BalanceDateType.BOOK' | translate}}</option>
                <option value="VALUE">{{'ledgerApp.BalanceDateType.VALUE' | translate}}</option>
                <option value="TRANSACTION">{{'ledgerApp.BalanceDateType.TRANSACTION' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.balanceDateType?.dirty && editForm.controls.balanceDateType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.balanceDateType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ledgerApp.balanceSheet.globalSequenceNumber" for="field_globalSequenceNumber">Global Sequence Number</label>
            <input type="number" class="form-control" name="globalSequenceNumber" id="field_globalSequenceNumber"
                [(ngModel)]="balanceSheet.globalSequenceNumber" required/>
            <div [hidden]="!(editForm.controls.globalSequenceNumber?.dirty && editForm.controls.globalSequenceNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.globalSequenceNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.globalSequenceNumber?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ledgerApp.balanceSheet.legalEntityId" for="field_legalEntityId">Legal Entity Id</label>
            <input type="text" class="form-control" name="legalEntityId" id="field_legalEntityId"
                [(ngModel)]="balanceSheet.legalEntityId" required/>
            <div [hidden]="!(editForm.controls.legalEntityId?.dirty && editForm.controls.legalEntityId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.legalEntityId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ledgerApp.balanceSheet.chartOfAccounts" for="field_chartOfAccounts">Chart Of Accounts</label>
            <select class="form-control" id="field_chartOfAccounts" name="chartOfAccounts" [(ngModel)]="balanceSheet.chartOfAccountsId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="chartOfAccountsOption.id" *ngFor="let chartOfAccountsOption of chartofaccounts; trackBy: trackChartOfAccountsById">{{chartOfAccountsOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
