<div>
    <h2>
        <span jhiTranslate="ledgerApp.subLedgerType.home.title">Sub Ledger Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-sub-ledger-type" [routerLink]="['/', { outlets: { popup: ['sub-ledger-type-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ledgerApp.subLedgerType.home.createLabel">
            Create new Sub Ledger Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subLedgerTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ledgerApp.subLedgerType.category">Category</span></th>
            <th><span jhiTranslate="ledgerApp.subLedgerType.name">Name</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subLedgerType of subLedgerTypes ;trackBy: trackId">
                <td><a [routerLink]="['../sub-ledger-type', subLedgerType.id ]">{{subLedgerType.id}}</a></td>
                <td>{{subLedgerType.category}}</td>
                <td>{{subLedgerType.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../sub-ledger-type', subLedgerType.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sub-ledger-type/'+ subLedgerType.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sub-ledger-type/'+ subLedgerType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
