<div>
    <h2>
        <span jhiTranslate="ledgerApp.ledgerAccount.home.title">Ledger Accounts</span>
        <button class="btn btn-primary float-right jh-create-entity create-ledger-account" [routerLink]="['/', { outlets: { popup: ['ledger-account-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ledgerApp.ledgerAccount.home.createLabel">
            Create new Ledger Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ledgerAccounts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="ledgerApp.ledgerAccount.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="key"><span jhiTranslate="ledgerApp.ledgerAccount.key">Key</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="accountType"><span jhiTranslate="ledgerApp.ledgerAccount.accountType">Account Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="orderedBy"><span jhiTranslate="ledgerApp.ledgerAccount.orderedBy">Ordered By</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="level"><span jhiTranslate="ledgerApp.ledgerAccount.level">Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isleaf"><span jhiTranslate="ledgerApp.ledgerAccount.isleaf">Isleaf</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="balanceAccountId"><span jhiTranslate="ledgerApp.ledgerAccount.balanceAccountId">Balance Account Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="legalEntityId"><span jhiTranslate="ledgerApp.ledgerAccount.legalEntityId">Legal Entity Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="chartOfAccountsId"><span jhiTranslate="ledgerApp.ledgerAccount.chartOfAccounts">Chart Of Accounts</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="upperAccountId"><span jhiTranslate="ledgerApp.ledgerAccount.upperAccount">Upper Account</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let ledgerAccount of ledgerAccounts ;trackBy: trackId">
                <td><a [routerLink]="['../ledger-account', ledgerAccount.id ]">{{ledgerAccount.id}}</a></td>
                <td>{{ledgerAccount.name}}</td>
                <td>{{ledgerAccount.key}}</td>
                <td jhiTranslate="{{'ledgerApp.LedgerAccountType.' + ledgerAccount.accountType}}">{{ledgerAccount.accountType}}</td>
                <td>{{ledgerAccount.orderedBy}}</td>
                <td>{{ledgerAccount.level}}</td>
                <td>{{ledgerAccount.isleaf}}</td>
                <td>{{ledgerAccount.balanceAccountId}}</td>
                <td>{{ledgerAccount.legalEntityId}}</td>
                <td>
                    <div *ngIf="ledgerAccount.chartOfAccountsId">
                        <a [routerLink]="['../chart-of-accounts', ledgerAccount.chartOfAccountsId  ]" >{{ledgerAccount.chartOfAccountsId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ledgerAccount.upperAccountId">
                        <a [routerLink]="['../ledger-account', ledgerAccount.upperAccountId  ]" >{{ledgerAccount.upperAccountId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ledger-account', ledgerAccount.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ledger-account/'+ ledgerAccount.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ledger-account/'+ ledgerAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
