<div>
    <h2>
        <span jhiTranslate="ledgerApp.chartOfAccounts.home.title">Chart Of Accounts</span>
        <button class="btn btn-primary float-right jh-create-entity create-chart-of-accounts" [routerLink]="['/', { outlets: { popup: ['chart-of-accounts-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ledgerApp.chartOfAccounts.home.createLabel">
            Create new Chart Of Accounts
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="chartOfAccounts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ledgerApp.chartOfAccounts.name">Name</span></th>
            <th><span jhiTranslate="ledgerApp.chartOfAccounts.key">Key</span></th>
            <th><span jhiTranslate="ledgerApp.chartOfAccounts.accountingStandard">Accounting Standard</span></th>
            <th><span jhiTranslate="ledgerApp.chartOfAccounts.isMain">Is Main</span></th>
            <th><span jhiTranslate="ledgerApp.chartOfAccounts.legalEntityId">Legal Entity Id</span></th>
            <th><span jhiTranslate="ledgerApp.chartOfAccounts.positionKeepingId">Position Keeping Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chartOfAccounts of chartOfAccounts ;trackBy: trackId">
                <td><a [routerLink]="['../chart-of-accounts', chartOfAccounts.id ]">{{chartOfAccounts.id}}</a></td>
                <td>{{chartOfAccounts.name}}</td>
                <td>{{chartOfAccounts.key}}</td>
                <td jhiTranslate="{{'ledgerApp.AccountingStandard.' + chartOfAccounts.accountingStandard}}">{{chartOfAccounts.accountingStandard}}</td>
                <td>{{chartOfAccounts.isMain}}</td>
                <td>{{chartOfAccounts.legalEntityId}}</td>
                <td>{{chartOfAccounts.positionKeepingId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../chart-of-accounts', chartOfAccounts.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chart-of-accounts/'+ chartOfAccounts.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chart-of-accounts/'+ chartOfAccounts.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
